body {
  background-image: url(../images/oceanBackground.jpg);
  font-family: 'Viga', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 80px;
  margin: 50px 0px 20px 0px;

}

.questionWrapper {
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.timeleft {
  font-size: 50px;
  margin: 50px 0px 50px 0px;
}

.timealert {
  color: #dc7871;
  font-size: 50px;
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question {
  font-size: 26px;
}

.choices {
  font-size: 22px;
  margin-bottom: 5px;
}


.right {
  color: #88d8b4;
  font-size: 50px;
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.wrong {
  color: #dc7871;
  font-size: 50px;
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.restart {
  color: #dc7871;
  font-size: 50px;
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.stats {
  color: #88d8b4;
  font-size: 50px;
  border: #104858;
  border-style: dashed;
  border-width: 9px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}
